.header {
    background-color: aquamarine;
    text-align: center;
    color:navy;
    font-size: 30px;
    height: 75px;
    border: 2px solid;
    padding: 15px;

}

.instruction {
    background-color: antiquewhite;
    width: 50%;
    border: 2px dotted aqua;
}

.number-box{
    background-color: #44aaaa;
    width: 10%;
}

.wins-losses {
    
    background-color: aliceblue;
}

.crystal-images {
    width: 50%;
}

.score-text {
background-color: lightpink;
width: 15%;
}

.score-box {
    background-color: lightseagreen;
    width: 20%;
    height: 110px;
}